<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/styles.css">
    <title>Sentence Generator</title>
</head>

<body>
    <div class="container">
        <h1 class="heading">Story</h1>
        <p class="joke" id="joke">PhD_Minn🙂🙂🙂</p>
        <button class="btn" id="btn">
            Another story
        </button>
    </div>
    <script src="../asset/js/index.js"></script>
</body>

</html>